h1 {
    color: blue;
}

button
{
    background-color: brown;
    color: white;
}

h2 {
    color:blueviolet;
}

p {
    color:darkgreen;
}

#full-stack-ai-and-data-science {
    color:fuchsia
}

.ai-data-analyst{
    color:darkgoldenrod;
}

.multi-cloud{
    color: darkorange;
}
